@font-face {
  font-family: "myfont";
  src: url("../fonts/riviera-webfont.woff") format("woff2"),
    url("../fonts/riviera-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.box-with-text {
  background-image: url("../images/docs.jpg");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

body {
  background: url("../images/lifeline.gif");
  background-repeat: no-repeat;
  background-position: 300px 100px;
  width: 100%;
  background-color: black;
}

.hero-section {
  height: 600px;
  color: black;
  /* background-color: black; */
  background-image: url("../images/stethonoshadow.png");
  background-size: cover;
  background-position: 8px -260px;
  background-repeat: repeat;
}

.box-with-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: 200px 200px;
  white-space: nowrap;
  background-position: 50% 50%;
  background-repeat: repeat;
  text-align: center;
  font-family: "myfont";
  text-transform: uppercase;
  font: 16vmax/0.85 myfont;
}
@media (max-width: 800px) {
  .box-with-text {
    font: 8vmax/0.85 myfont;
    margin-top: -100px;
  }
  .hero-section {
    height: 200px;

    background-position: center -50px;
    background-size: 400px 200px;
    background-repeat: no-repeat;
  }

  body {
    background-position: center top;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
