@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Raleway:wght@300&display=swap");
body {
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

/********* header section **********/
.header-section {
  display: grid;
  grid-template-columns: 0.2fr 2fr;
}

/** navbar */
.navbar-custom {
  background-color: rgb(180, 18, 18);
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 40px 0px 25px 0px;
  z-index: 2;
}
.navbar-custom li {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}
.navbar-toggler {
  color: wheat;
  float: right;
}

.navbar .container {
  margin-left: -120px;
}
.navbar-custom .navbar-nav .nav-link {
  color: cornsilk;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: white;
}

nav ul .main-menu a {
  position: relative;
  height: 2px;
}

nav ul .main-menu a::before,
nav ul .main-menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: -10px;
  background-color: rgb(41, 49, 49);
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s;
}
nav ul .main-menu a::before {
  top: 50px;
  transform-origin: left;
}

nav ul .main-menu a:hover::before,
nav ul .main-menu a:hover::after {
  transform: scaleX(1);
}

/** Navbar Dropdown */

nav ul .dropdown {
  list-style: none;
  margin-top: 0px;
  display: flex;
}

nav ul .dropdown i {
  margin-top: 13px;
}
#menuwrapper div {
  display: none;
  position: relative;
  margin: 0;
  padding: 0;
}
#menuwrapper:hover div {
  display: block;
  position: absolute;
  /* margin-top: 15px; */
  padding: 0;
  margin-left: 10px;
}

.dropdown:hover .dropdown-menu ul {
  list-style-type: none;
  /*top right bottom left*/
  padding: 5px 5px 5px 5px;
}
.dropdown:hover .dropdown-menu ul li {
  width: 200px;
  /*top right bottom left*/
  margin: 10px 5px 10px 5px;
  padding: 10px 8px 10px 8px;

  background: aliceblue;
  color: black;
  border-radius: 5px;
  text-align: left;
  text-decoration: none;
}

.dropdown-menu ul li a {
  color: black;
  border-radius: 5px;
  text-align: left;
  text-decoration: none;
}
.dropdown-menu ul li:hover a {
  color: grey;
  text-decoration: none;
}

nav ul .dropdown a.nav-link::before,
nav ul .dropdown a.nav-link::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  top: -10px;
  background-color: rgb(41, 49, 49);
  left: 11px;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.3s;
}

nav ul .dropdown a.nav-link::before {
  top: 50px;
  transform-origin: left;
}

nav ul .dropdown a.nav-link:hover::before,
nav ul .dropdown a.nav-link:hover::after {
  transform: scaleX(1);
}

/* *logo or site-title */
#logo {
  background-color: white;
  border-radius: 0px 0px 7px 7px;
}
.site-title a img {
  height: 120px;
  width: 230px;
}
.site-title {
  border: 2px outset rgb(224, 13, 13);
  border-top: 0px;
  /*top-left top-right bottom-right bottom-left*/
  border-radius: 0px 0px 7px 0px;
  outline-offset: 0.5rem;
  height: auto;
  padding: 8px;
}

/* scrolling-notice */
.scrolling-notice marquee {
  background-color: rgb(255, 252, 249);
  margin: 0px;
  padding: 1px 0px 0px 2px;
}

/* *search-box */

.search-box {
  display: flex;
  position: absolute;
  top: 25px;
  left: 81%;
  /* top: 500px;
  left: 52%; */
  transform: scaleX(70%);
  background: #2f3640;
  height: 58px;
  border-radius: 40px;
  padding: 10px;
}
.search-box:hover > .search-txt {
  width: 142px;
  padding: 10px;
}
.search-box:hover > .search-btn {
  background: white;
  color: #2f3640;
  text-decoration: none;
}
.search-btn:hover {
  text-decoration: none;
}
.search-btn {
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  text-decoration: none;
  /* justify content center dile search button horixontally center e ashe */
  justify-content: center;
  /* align-items center dile search button vertically center e ashe */
  align-items: center;
  transition: 0.4s;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

/** home-section- contains the illstration and side-text */

.home-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-evenly;
  max-width: 100%;
  padding: 20px;
  text-align: center;
  background-color: antiquewhite;
  min-height: 50vh;
}

/** home-section illustration */
.image-box {
  max-width: 30%;
  margin: auto;
}
.image-box img {
  width: 100%;
  height: auto;
  text-align: center;
}

/* *home-section intro text */
.intro {
  text-align: center;
  margin: 20px;
  padding: 25px;
  background: white;
  border-radius: 7px;
}
.intro h1 {
  color: rgba(0, 0, 0, 0.877);
  font-size: 48px;
}
.intro h2 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  color: rgb(30, 88, 92);
}
.intro h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: rgb(30, 88, 92);
}

/** footer */
footer {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: , sans-serif; */
  padding: 40px 10px 100px 50px;
  margin: 0px;
}
.footer-inner {
  display: grid;
  grid-template-columns: 1.8fr 0.8fr 1fr 1fr 1fr;
}

.footer-item {
  float: left;
  margin: 0 7.2% 0 0;
}

.footer-button {
  color: white;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  transition: 1s;
  transition-delay: 0.2s;
  padding: 14px;
}

.footer-button:after {
  content: "";
  position: absolute;
  top: 45px;
  right: 13px;
  background-color: white;
  height: 1px;
  width: 86px;
  transition: 0.6s;
}

.footer-button:hover {
  color: black;
  background-color: white;
}

.footer-button:hover:after {
  width: 112px;
  right: 0px;
}

footer h1 {
  font-weight: 700;
  color: white;
  font-size: 34px;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 10px;
}

footer h2 {
  font-weight: 500;
  line-height: 2;
  font-size: 15px;
  color: #d1d1d1;
  letter-spacing: 0.03em;
  padding: 15px 0 0 0;
}

footer h3 {
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin: 0;
  padding-bottom: 9px;
  letter-spacing: 0.03em;
}

footer h3.desktop {
  padding-top: 30px;
}

footer ul {
  line-height: 1.8;
  list-style-type: none;
  padding: 0;
}

footer li {
  font-weight: 400;
  font-size: 14px;
  color: #d1d1d1;
  letter-spacing: 0.03em;
}

footer p {
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #d1d1d1;
}

footer a {
  text-decoration: none;
  color: #d1d1d1;
}

footer a:hover {
  color: white;
}
/* !mobile and tab screen */
@media (max-width: 1280px) {
  .site-title {
    border-radius: 0px;
  }
  .scrolling-notice {
    display: grid;
    grid-template-rows: 1fr;
    margin-left: -250px;
  }

  .site-title a img {
    height: 82px;
    width: 160px;
  }

  .home-section {
    display: block;
    float: none;
    width: 100%;
  }

  .fa-bars {
    padding-top: 5px;
  }
  .navbar .container {
    margin-left: 0px;
  }
  .search-box {
    /* z-index: -1; */
    top: 25px;
    left: 7%;
  }
  #menuwrapper:hover .dropdown-menu {
    display: none;
    /*top right bottom left*/
  }
  .fa-caret-down {
    display: none;
  }
  .navbar-custom li {
    margin: 10px;
    height: 45px;
  }
  .navbar-custom li:hover {
    background-color: rgba(255, 255, 255, 0.247);
  }
  .navbar-custom li:hover a {
    color: black;
  }
  nav ul .dropdown a.nav-link::before,
  nav ul .dropdown a.nav-link::after {
    width: 0;
  }
  nav ul .main-menu a::before,
  nav ul .main-menu a::after {
    width: 0;
  }

  nav ul .main-menu a:hover::before,
  nav ul .main-menu a:hover::after {
    transform: scaleX(1);
  }
  .navbar-nav {
    background-color: black;
  }
  /* footer */
  .footer-inner {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-item {
    padding-bottom: 15px;
  }
}
