@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Raleway:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

/********* header section **********/
.header-section {
  display: grid;
  grid-template-columns: 0.2fr 2fr;
}

/********* primary menu **********/
.primary-menu {
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 20px 0px 20px 0px;
  background-color: rgb(180, 18, 18);
  /*top right bottom left*/
  /* border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: rgb(43, 26, 26); */
}

.primary-menu li {
  padding-left: 12px;
  padding-right: 12px;
  /* ! solved the problem of not showing the animation of nav li whilst showing the dropdown by adding this padding bottom */
  padding-bottom: 15px;
}

/* *logo or site-title */
#logo {
  background-color: white;
  border-radius: 0px 0px 7px 7px;
}
.site-title a img {
  height: 120px;
  width: 230px;
}
.site-title {
  border: 2px outset rgb(224, 13, 13);
  border-top: 0px;
  /*top-left top-right bottom-right bottom-left*/
  border-radius: 0px 0px 7px 0px;
  outline-offset: 0.5rem;
  height: auto;
  padding: 8px;
}
.scrolling-notice marquee {
  margin: 4px 0px;
  /* padding-top: 5px; */
}
.mobile-scrolling-notice {
  display: none;
}
/* *search-box */

.search-box {
  display: flex;
  position: absolute;
  top: -1px;
  left: 83%;
  /* top: 500px;
  left: 52%; */
  transform: scaleX(70%);
  background: #2f3640;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
}
.search-box:hover > .search-txt {
  width: 128px;
  padding: 10px;
}
.search-box:hover > .search-btn {
  background: white;
  color: #2f3640;
}
.search-btn:hover {
  text-decoration: none;
}
.search-btn {
  color: #ffffff;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

/** home-section- contains the illstration and side-text */

.home-section {
  max-width: 100%;
  padding: 20px;
  display: flex;
  columns: 1fr 1fr;
  padding: auto;
  text-align: center;
  background-color: antiquewhite;
  /* min-height: 50vh; */
}

/** home-section illustration */
.image-box {
  max-width: 30%;
  margin: auto;
}
.image-box img {
  width: 100%;
  height: auto;
  text-align: center;
}

/* *home-section intro text */
.intro {
  text-align: center;
  margin: 40px;
  padding: 45px;
  background: white;
  border-radius: 7px;
}
.intro h1 {
  font-family: "Roboto", serif;
  color: rgba(0, 0, 0, 0.877);
  font-size: 48px;
  /* font-family: "Raleway", sans-serif; */
  /* vertical-align: centre; */
}
.intro h2 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  color: rgb(30, 88, 92);
}
.intro h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: rgb(30, 88, 92);
}

/* *navbar starts */

.primary-menu nav {
  padding: 5px;
  margin: 2px;
}

.navbar-custom .navbar-nav .nav-link {
  color: cornsilk;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: white;
}

nav ul .main-menu a {
  position: relative;
  height: 2px;
}

nav ul .main-menu a::before,
nav ul .main-menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: -10px;
  background-color: rgb(41, 49, 49);
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s;
}
nav ul .main-menu a::before {
  top: 50px;
  transform-origin: left;
}

nav ul .main-menu a:hover::before,
nav ul .main-menu a:hover::after {
  transform: scaleX(1);
}

/** Navbar Dropdown */

nav ul .dropdown {
  list-style: none;
  margin-top: 0px;
  display: flex;
}

nav ul .dropdown i {
  margin-top: 13px;
}
#menuwrapper div {
  display: none;
  position: relative;
  margin: 0;
  padding: 0;
}
#menuwrapper:hover div {
  display: block;
  position: absolute;
  /* margin-top: 15px; */
  padding: 0;
  margin-left: 10px;
}

.dropdown:hover .dropdown-menu ul {
  list-style-type: none;
  /*top right bottom left*/
  padding: 5px 5px 5px 5px;
}
.dropdown:hover .dropdown-menu ul li {
  width: 200px;
  /*top right bottom left*/
  margin: 10px 5px 10px 5px;
  padding: 10px 8px 10px 8px;

  background: aliceblue;
  color: black;
  border-radius: 5px;
  text-align: left;
  text-decoration: none;
}

.dropdown-menu ul li a {
  color: black;
  border-radius: 5px;
  text-align: left;
  text-decoration: none;
}
.dropdown-menu ul li:hover a {
  color: grey;
  text-decoration: none;
}

nav ul .dropdown a.nav-link::before,
nav ul .dropdown a.nav-link::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  top: -10px;
  background-color: rgb(41, 49, 49);
  left: 11px;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.3s;
}

nav ul .dropdown a.nav-link::before {
  top: 50px;
  transform-origin: left;
}

nav ul .dropdown a.nav-link:hover::before,
nav ul .dropdown a.nav-link:hover::after {
  transform: scaleX(1);
}

/** footer */
footer {
  background-color: black;
  font-family: "Lato", sans-serif;
  padding: 85px 0 285px 0;
}

.footer-inner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  max-width: 1170px;
  position: relative;
}

.footer-item {
  float: left;
  margin: 0 7.2% 0 0;
}

.footer-item:nth-of-type(4) {
  display: none;
}

.footer-item:nth-of-type(7) {
  float: right;
  margin-right: 0;
}

.footer-button {
  color: white;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  transition: 1s;
  transition-delay: 0.2s;
  padding: 14px;
}

.footer-button:after {
  content: "";
  position: absolute;
  top: 45px;
  right: 13px;
  background-color: white;
  height: 1px;
  width: 86px;
  transition: 0.6s;
}

.footer-button:hover {
  color: black;
  background-color: white;
}

.footer-button:hover:after {
  width: 112px;
  right: 0px;
}

footer h1 {
  font-weight: 900;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 10px;
}

footer h2 {
  font-weight: 300;
  line-height: 1.8;
  font-size: 13px;
  color: #d1d1d1;
  letter-spacing: 0.03em;
  padding: 15px 0 0 0;
}

.color {
  color: white;
  font-weight: 400;
}

footer h3 {
  font-weight: 400;
  font-size: 13px;
  color: white;
  margin: 0;
  padding-bottom: 9px;
  letter-spacing: 0.03em;
}

footer h3.desktop {
  padding-top: 30px;
}

footer ul {
  line-height: 1.8;
  list-style-type: none;
  padding: 0;
}

footer li {
  font-weight: 300;
  font-size: 13px;
  color: #d1d1d1;
  letter-spacing: 0.03em;
}

footer p {
  font-weight: 300;
  font-size: 13px;
  padding: 0;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

footer a {
  text-decoration: none;
  color: #d1d1d1;
}

footer a:hover {
  color: white;
}

footer .desktop {
  display: auto;
}

.footer-inner:after {
  content: "© 2020 Envoy. All Rights Reserved.";
  font-weight: 300;
  letter-spacing: 0.03em;
  font-size: 13px;
  color: #d1d1d1;
  position: absolute;
  top: 260px;
  clear: both;
  display: block;
}

@media (max-width: 1280px) {
  .mobile-scrolling-notice {
    padding: 5px;
    display: none;
  }
  footer {
    padding: 50px 0 70px 0 !important;
  }

  .footer-inner {
    border-bottom: 1px solid #333;
    padding-bottom: 490px;
    margin-bottom: 50px;
  }

  .footer-item {
    margin: 0 0 42px 0;
    width: 50%;
  }

  .footer-item:nth-of-type(1) {
    border-bottom: 1px solid #333;
    padding-bottom: 32px;
    float: none;
    width: 100%;
  }

  .footer-item:nth-of-type(2) {
    clear: both;
  }

  .footer-item:nth-of-type(4) {
    clear: both;
    display: block;
  }

  .footer-item:nth-of-type(6) {
    clear: both;
  }

  .footer-item:nth-of-type(7) {
    clear: both;
    float: left;
    margin: 20px 0 0 -13px;
  }

  .desktop {
    display: none;
  }

  .footer-inner:after {
    top: 730px;
  }
}

/** mobile-navbar */
.mobile-container {
  display: none;
}

.topnav {
  /* overflow: hidden; */
  background-color: #333;
  position: relative;
}

#myLinks {
  display: none;
}

.topnav #myLinks a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.burger-icon a {
  float: right;
  display: block;
  color: white;
  background: white;
  margin: 5px;
  padding: 15px;
  color: black;
}
.burger-icon a:hover {
  background: grey;
}

.topnav #myLinks a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4caf50;
  color: white;
}

/* !mobile and tab screen */
@media only screen and (max-width: 800px) {
  .site-title {
    border-radius: 0px;
  }
  .scrolling-notice {
    display: none;
  }
  .mobile-scrolling-notice {
    display: block;
  }
  .site-title a img {
    height: 82px;
    width: 160px;
  }
  .primary-menu {
    height: 100px;
  }

  .home-section {
    display: block;
    float: none;
    width: 100%;
  }
  .primary-menu nav {
    display: none;
  }
  .mobile-container {
    display: block;
  }
  #dg-container {
    width: 100%;
    text-align: start;
  }
  .dg-wrapper a img {
    display: block;
    height: 100px;
    width: 100px;
    border: 8px solid white;
  }
}
